* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/TRABALHO/imag/TelaLogin.jpg') no-repeat center center/cover;
}

.container-login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#FormLogin {
  width: 350px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  color: #000;
}

#FormLogin h1 {
  margin-bottom: 20px;
  font-size: 28px;
}

.input-box {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.input-box label {
  margin-bottom: 5px;
  font-size: 14px;
}

.input-box input {
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  background: rgba(230, 224, 224, 0.7);
}

.forgot {
  font-size: 12px;
  text-decoration: none;
  color: #000;
}

.forgot:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background: #e0e0e0;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background: #b7b7c3;
  transform: translateY(-3px);
  transform: scale(1.03);
  filter: brightness(1.1);
  box-shadow: 0 6px 12px rgba(66, 61, 61, 0.2);
}

.btn:active {
  transform: scale(0.98);
}